header.bg-azulBonito.p-4 
    .container.mx-auto.flex.justify-between.items-center 
        a(href="/")
            h1.text-2xl.text-white.font-extrabold.text-center Funeraria  
                span.font-normal Los Ángeles

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden") 
            a(href="/auth/registro") Crear cuenta 
            a(href="/auth/login") Iniciar Sesión
            

